.leftOption {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .leftOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
  }
  
  .leftOption > .MuiSvgIcon-root {
    padding: 20px;
  }
  
  .leftOption > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .leftOption--active {
    color: var(--twitter-color);
  }